@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/1600x900/?landscape') ;
    /* background-image: url('https://source.unsplash.com/1600x900/?landscape'); */
    font-size: 120%;
}

h2{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-weight: 400;
  font-family: 'M PLUS 1p', sans-serif;
}

.description, .humidity, .wind{
    font-family: 'Source Code Pro', monospace;

}

.description{
  text-transform: capitalize;
  margin-left: 1px;
}

.flex{
  display: flex;
  align-items: center;
  /* margin-top: 0.2em; */
}

.card{
    background: #2b1f1fd0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    /* height: 100%;
    max-height: 120px; */
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #e1e44e28;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 0.8em;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #e1e44e28;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #e248c16b;
    font-size: 0.9em;
    transition: 0.3s ease-in-out;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
    color: peru;
  }


  .weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }

  .weather.loading::after{
    visibility: visible;
    content: "Type the city name to check its weather";
    color: teal;
    font-size: 1.4em;
    position: absolute;
    top: 0;

  }


  @media only screen and (max-width: 600px) {
    .weather.loading::after{
      font-size: 1.2em;
    }
  }


  

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(83, 92, 1, 0.616);
    color: rgb(85, 3, 74);
    text-align: center;
    font-family: 'Tapestry', cursive;
    font-size: 1.2em;
    font-weight: 700;
  }